
.titleCardList{
    font-size: 64px;
    margin-bottom: 1em;
}

.spanCardList{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(253, 185, 95);
    margin-left: 2px;
}

.list{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-bottom: 5em;

}
